<div class="col-md-2 sidebar">
    <h3 class="text-center mb-4">Bank Dashboard</h3>
    <nav>
        <a href="@Url.Action("Dashboard", "User")"><i class="fas fa-home"></i> Dashboard</a>
        <a href="@Url.Action("AccountDetailsView", "Account")"><i class="fas fa-users"></i> Accounts</a>
        <a href="@Url.Action("History", "Transaction")"><i class="fas fa-exchange-alt"></i> Transactions</a>
    </nav>
    <div class="mt-auto">
        <!-- Logout Button -->
        <form asp-controller="User" asp-action="Logout" method="post" id="logoutForm">
            <button type="submit" class="btn btn-danger btn-block">Logout</button>
        </form>
    </div>
</div>
